:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}
body{
    background-color: var(--Cream);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.main{
    display: flex;
}
.desktop-img{
    width:270px;
    border-radius: 10px 0 0 10px;
}
.right-half{
    width: 230px;
    height: fit-content;
    padding: 0px 30px 0px 30px;
    background-color: var(--White);
    border-radius: 0 10px 10px 0;
}
h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:var(--Dark-grayish-blue);
    letter-spacing:0.3rem;
    margin-bottom: 5px;
}
.perfume-title{
    font-family:'Fraunces', serif;
    font-size:30px;
    line-height: 1;
}
.perfume-details{
    font-family: 'Montserrat', 'Sans-serif';
    line-height: 1.7;
    color: var(--Dark-grayish-blue);
    font-size: 14px;
}
span{
    color: var(--Dark-cyan);
    font-weight: 700;
    font-size: 30px;
    font-family: 'Fraunces';
}
strike{
    color: var(--Dark-grayish-blue);
    font-size: 14px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
}

button{
    background-color: var(--Dark-cyan);
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 10px;
    justify-content: center;
    color: var(--White);
    font-family: 'Montserrat', 'Sans-serif';
    font-weight: 500;
    margin: 15px 0px;
}
button:hover{
    background-color:hsl(158, 52%, 20%);
}
.mobile{
    display: none;
}

@media only screen and (max-width: 900px) {
      .desktop{
        display: none;
    }
    .main{
        flex-direction: column;
    }
    .mobile{
        display: flex;
    }
    .mobile-img{
        width: 350px;
        border-radius: 10px 10px 0 0;
    }
    .right-half{
        width: 290px;
        border-radius: 0 0 10px 10px;
        padding-bottom: 15px;
    }
}